table{
    width: 95%;
    margin: 5vh;
    height: 5vh
}
tr{
    /* width: 10%; */
    height: 5vh;
}
table tr{
    /* border: 1px solid black; */
    background-color: rgb(163, 242, 99);
    /* height: 5vh; */
}
.tdd{
    background-color: blue;
}
.red{
    background: red;
}