table{
    width: 95%;
    height: 5vh
}
tr{
    height: 5vh;
}
table tr{
    background-color: rgb(163, 242, 99);
}

.selected-color{
    background-color: orangered;
}

/* =============================================== */

/* table{
    width: 95%;
    height: 5vh
}
tr{
    
    height: 5vh;
}
table tr{
    background-color: rgb(163, 242, 99);
}
.tdd{
    background-color: blue;
}
.red{
    background: red;
} */


/* ======================================RC======= */
